name: "Terraform CI"

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  terraform-checks:
    name: "Terraform Lint and Validate"
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./infra/live/dev
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version : 1.14.0

      - name: Terraform Format Check
        run: terraform fmt -check -recursive ../../modules

      - name: Terraform Init
        run: terraform init -backend=false

      - name: Terraform Validate
        run: terraform validate
